body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
body,
ul,
li {
    margin: 0;
    padding: 0;
}
.content-wrapper {
    display: block;
}
.buttons {
    background-color: rgb(0, 119, 197);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.buttons > * {
    vertical-align: middle;
}
.buttons > span {
    padding-right: 0.5em;
}
.gray-background {
    background-color: rgb(236, 238, 241);
}
.material-icons.md-15 {
    font-size: 15px;
}
.material-icons.md-32 {
    font-size: 32px;
}

/* Navigation */
.navigation-wrapper {
    height: 60px;
    padding: 10px 30px 10px 30px;
}
.navigation-container {
    float: right;
}
.navigation-column {
    float: left;
    height: 36px;
    margin: auto;
    margin-left: 10px;
}
.signup-section {
    text-align: center;
    margin: auto;
    width: 450px;
}
.btn-signin {
    height: 34px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    font-size: 1.125em;
}

/* Signup Secion */
.sign-up-wrapper {
    background-color: white;
    border: 1px solid #c7c7c7;
}
.intuint-logo {
    display: inline-block;
    background-image: url("./images/intuint-logo.png");
    width: 118px;
    height: 35px;
}
.main-header {
    padding: 1em 0 0.5em 0;
}
.quick-links {
    padding: 0.5em 0 1em 0;
}
.quick-link-icon {
    width: 37px;
    height: 20px;
}
.links-list > li {
    display: inline;
}
.links-list > li > * {
    vertical-align: middle;
}
.links-list > li > img {
    cursor: pointer;
}
.links-list > li > a {
    color: rgb(107, 108, 114);
    font-size: 20px;
}
.sign-up-area {
    width: 80%;
    margin: auto;
}
